<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bakingapp.rizwan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bakingbag"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bakingbag"
        android:supportsRtl="true"
        android:name=".timberlog.TimberApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"
            android:launchMode="singleTop"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.IngredientStepsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.VideoPhoneActivity"
            android:parentActivityName=".activities.IngredientStepsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.IngredientStepsActivity" />
        </activity>

        <receiver android:name=".widget.RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"  />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_provider_info" />
        </receiver>
        <service android:name=".widget.RecipeWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>